body {
    background-color: #e7ecf2;
}

section {
    margin-bottom: 50px;
}

li {
    list-style: none;
}

.container {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

.optionList {
    display: flex;
    width: 200px;
    margin: 0 auto;
    justify-content: space-between;
}

.optionListItem {
}

.statList {
    margin: 0 auto;
    width: 500px;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
}
